---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=<OPENWEATHER_API_KEY>&lat=40.7128&lon=-74.006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1760724000,"main":{"temp":61.09,"feels_like":58.59,"temp_min":61.09,"temp_max":62.24,"pressure":1015,"sea_level":1015,"grnd_level":1013,"humidity":36,"temp_kf":-0.64},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":8.86,"deg":360,"gust":11.5},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-10-17
        18:00:00"},{"dt":1760734800,"main":{"temp":62.15,"feels_like":59.61,"temp_min":62.15,"temp_max":64.26,"pressure":1014,"sea_level":1014,"grnd_level":1012,"humidity":33,"temp_kf":-1.17},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":1},"wind":{"speed":7.25,"deg":3,"gust":9.55},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2025-10-17
        21:00:00"},{"dt":1760745600,"main":{"temp":60.62,"feels_like":57.97,"temp_mi[...]
