---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/direct?appid=<OPENWEATHER_API_KEY>&limit=1&q=10001
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"Fair Gate ED","lat":53.7210337,"lon":-6.34314758220654,"country":"IE"}]'
  recorded_at: Fri, 17 Oct 2025 17:39:45 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/reverse?appid=<OPENWEATHER_API_KEY>&lat=53.7210337&limit=1&lon=-6.34314758220654
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"name":"The Borough District of Drogheda","lat":53.75859355,"lon":-6.348133848021236,"country":"IE"}]'
  recorded_at: Fri, 17 Oct 2025 17:39:45 GMT
recorded_with: VCR 6.3.1
